sidenav {
    height: calc(100% - 70px);
    /* Full-height: remove this if you want "auto" height */
    width: 20%;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 2;
    /* Stay on top */
    left: 0;
    float: left;
    top: 60px;
    padding-top: 10px;
    overflow-y: scroll;
    /* Disable horizontal scroll */
    background: #2a2a2a;
    overflow-x: hidden;
    min-width: 200px;
    max-width: 300px;
}

topnav {
    width: 75%;
    height: auto;
    z-index: 3;
    position: relative;
    display: none;
}

wrapper {
    display: inline-block;
    width: 60%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 20%;
}

@media only screen and (max-width: 1050px) {
    sidenav {
        display: none;
    }
}

@media only screen and (max-width: 1050px) {
    wrapper {
        width: 100%;
        left: 0;
    }
}

@media only screen and (max-width: 1050px) {
    topnav {
        display: inline-block;
    }
}